@import './reset.css';
@import './typography.css';
@font-face {
  font-family: Sahel;
  src: url("../public/Fonts/Sahel.eot");
  src: url("../public/Fonts/Sahel.eot?#iefix") format("embedded-opentype"), url("../public/Fonts/Sahel.woff2") format("woff2"), url("../public/Fonts/Sahel.woff") format("woff"), url("../public/Fonts/Sahel.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: Sahel;
  src: url("../public/Fonts/Sahel-Bold.eot");
  src: url("../public/Fonts/Sahel-Bold.eot?#iefix") format("embedded-opentype"), url("../public/Fonts/Sahel-Bold.woff2") format("woff2"), url("../public/Fonts/Sahel-Bold.woff") format("woff"), url("../public/Fonts/Sahel-Bold.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: Sahel;
  src: url("../public/Fonts/Sahel-Light.eot");
  src: url("../public/Fonts/Sahel-Light.eot?#iefix") format("embedded-opentype"), url("../public/Fonts/Sahel-Light.woff2") format("woff2"), url("../public/Fonts/Sahel-Light.woff") format("woff"), url("../public/Fonts/Sahel-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: Sahel;
  src: url("../public/Fonts/Sahel-SemiBold.eot");
  src: url("../public/Fonts/Sahel-SemiBold.eot?#iefix") format("embedded-opentype"), url("../public/Fonts/Sahel-SemiBold.woff2") format("woff2"), url("../public/Fonts/Sahel-SemiBold.woff") format("woff"), url("../public/Fonts/Sahel-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
@font-face {
  font-family: Sahel;
  src: url("../public/Fonts/Sahel-Black.eot");
  src: url("../public/Fonts/Sahel-Black.eot?#iefix") format("embedded-opentype"), url("../public/Fonts/Sahel-Black.woff2") format("woff2"), url("../public/Fonts/Sahel-Black.woff") format("woff"), url("../public/Fonts/Sahel-Black.ttf") format("truetype");
  font-weight: 900;
}